<div class="table-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.address.city}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="website">
      <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.website}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="col"></mat-header-row>
    <mat-row *matRowDef="let row; columns: col;" class="element-row" (click)="onUserClick(row.id)"></mat-row>
  </mat-table>
</div>